// dot color
$highlightcolor: #ffbb1f;
$tagcolor: #9b9b9b;
$scale: 1.414;
$black: #000;

.fancy {
   color: $highlightcolor;
}

//link colors
 a { 
   color: $highlightcolor;
   text-decoration: none;
   &:hover {
     color: $highlightcolor;
     text-decoration: underline;
   }
   &.active {
     color: black; 
   }
} 

//desktop nav customization
.nav { 
   font-size: $scale  * 1rem;
   font-weight: 600;
   line-height: 1.25;
   letter-spacing: 0.03em;
   padding-top: 2.5em;  
   margin-left:1.5em;
} 

//nav link colors
 .nav__list a { 
  color: $highlightcolor; 
  text-decoration: none; 
  
  &.active {
    color: $black;
  } 
  &:hover { 
    color: $black;
   
  } 
}
//post title list customization
.post__title a{ 
  color: $black; 
  text-decoration: none; 
  &.active {
    color: $black;
  } 
  &:hover { 
    color: $black;
  } 
}

//tag link customization

.tag__header { 
  a, 
  .seprarator { 
    color: $tagcolor;
  &:hover { 
    color: $black;
 }
  }
} 